<div class="row">
  <div class="col">
    <div class="card shadow">
      <div class="card-header bg-transparent d-flex justify-content-between align-items-center">
        <h3 class="mb-0">Lista de Fazendas</h3>
        <div class="input-group mb-2 col-8">
          <div class="input-group-prepend">
            <div class="input-group-text">Filtro: </div>
          </div>
          <input
          type="text"
          class="form-control"
          placeholder="Buscar Fazenda"
          (input)="filterFarms($event.target)"
          >
        </div>
        <button
          type="button"
          class="btn btn-outline-secondary"
          routerLink="/fazenda/detalhe"
        >
        <i class="fa-solid fa-plus-circle"></i>
          Nova Fazenda
        </button>
      </div>
      <div class="table-responsive">
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">
                <button
                  type="button"
                  class="btn btn-outline-light btn-sm"
                  (click)="changeImage()"
                >
                  <i
                    class="{{ !showImage ? 'fa fa-eye' : 'fa fa-eye-slash' }}"
                  ></i>
                </button>
                {{ !showImage ? "exibir" : "ocultar" }}
              </th>
              <th scope="col">Nome</th>
              <th scope="col">Localização</th>
              <th scope="col">Área (ha)</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody *ngIf="farms && farms.length">
            <!-- <tbody> -->
            <tr
              *ngFor="let farm of farms"
              (click)="detalheFarm(farm.id)"
              style="cursor: pointer"
            >
              <td>
                <img
                  [ngbCollapse]="!showImage"
                  [isAnimated]="true"
                  [src]="revelImage(farm.imageURL)"
                  class="farm-image"
                />
              </td>
              <td>{{ farm.name }}</td>
              <td>
                {{ farm.location }}
              </td>
              <td>
                {{ farm.size }}
              </td>
              <td class="text-right">
                <button
                  type="button"
                  class="btn btn-danger btn-lg d-flex align-items-center justify-content-center"
                  tooltip="Excluir"
                  style="width: 20px; height: 30px"
                  (click)="openModal($event, template, farm.id)"
                >
                  <i class="fa fa-trash"></i>
                </button>
                <!-- <div ngbDropdown placement="bottom-right">
                  <a
                    class="btn btn-sm btn-icon-only text-light"
                    ngbDropdownToggle
                  >
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                  <div
                    ngbDropdownMenu
                    class="dropdown-menu-right dropdown-menu-arrow"
                  >
                    <a class="dropdown-item" href="javascript:void(0)"
                      >Action</a
                    >
                    <a class="dropdown-item" href="javascript:void(0)"
                      >Another action</a
                    >
                    <a class="dropdown-item" href="javascript:void(0)"
                      >Something else here</a
                    >
                  </div>
                </div> -->
              </td>
            </tr>
          </tbody>
          <tfoot *ngIf="!farms.length"></tfoot>
        </table>
      </div>
      <div class="card-footer py-4">
        <nav aria-label="...">
          <ul class="pagination justify-content-end mb-0">
            <ngb-pagination ngbPaginationEllipsis
            [(page)]="pagination.currentPage"
            [pageSize]="pagination.itemsPerPage"
            [collectionSize]="pagination.totalItems"
            (pageChange)="pageChange($event)"
            class="page-item"
            >
            <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
            </ngb-pagination>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
