<div class="row">
  <div class="col">
    <div class="card shadow">
      <div class="card-header bg-transparent d-flex justify-content-between align-items-center">
        <h3 class="mb-0">Lista de Funcionários</h3>
        <div class="input-group mb-2 col-8">
          <div class="input-group-prepend">
            <div class="input-group-text">Filtro:</div>
          </div>
          <input type="text" class="form-control" placeholder="Buscar Fazenda"
            (input)="filterEmployees($event.target)" />
        </div>
        <button type="button" class="btn btn-outline-secondary" routerLink="/funcionarios/detalhe">
          <i class="fa-solid fa-plus-circle"></i>
          Novo Funcionário
        </button>
      </div>
      <div class="table-responsive">
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Função</th>
              <th scope="col">Fazenda</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody *ngIf="employees && employees.length">
            <!-- <tbody> -->
            <tr *ngFor="let employee of employees" (click)="employeeDetail(employee.id)" style="cursor: pointer">
              <td>{{ employee.name }}</td>
              <td>{{ employee.function }}</td>
              <td>{{ employee.farm }}</td>
              <td class="text-right">
                <button type="button" class="btn btn-danger btn-lg d-flex align-items-center justify-content-center"
                  tooltip="Excluir" style="width: 20px; height: 30px"
                  (click)="openModal($event, template, employee.id)">
                  <i class="fa fa-trash"></i>
                </button>
                <!-- <div ngbDropdown placement="bottom-right">
                  <a
                    class="btn btn-sm btn-icon-only text-light"
                    ngbDropdownToggle
                  >
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                  <div
                    ngbDropdownMenu
                    class="dropdown-menu-right dropdown-menu-arrow"
                  >
                    <a class="dropdown-item" href="javascript:void(0)"
                      >Action</a
                    >
                    <a class="dropdown-item" href="javascript:void(0)"
                      >Another action</a
                    >
                    <a class="dropdown-item" href="javascript:void(0)"
                      >Something else here</a
                    >
                  </div>
                </div> -->
              </td>
            </tr>
          </tbody>
          <tfoot *ngIf="!employees.length"></tfoot>
        </table>
      </div>
      <div class="card-footer py-4">
        <nav aria-label="...">
          <ul class="pagination justify-content-end mb-0">
            <ngb-pagination ngbPaginationEllipsis [(page)]="pagination.currentPage" [pageSize]="pagination.itemsPerPage"
              [collectionSize]="pagination.totalItems" (pageChange)="pageChange($event)" class="page-item">
              <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
            </ngb-pagination>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>