<div class="container-fluid mt--7">
  <div class="row">

    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0" [formGroup]="form">
      <div class="card card-profile shadow card-evento-view">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <input type="file" #file (change)="onFileChange($event)" class="form-control is-invalid" placeholder=""
                style="display: none" />
              <div class="card profile-card-2">
                <div class="card-img-block">
                  <img class="image" [src]="imageURL" class="img-fluid" (click)="file.click()" alt="Card image cap"
                    tooltip="Uplaod de Nova Imagem" placement="bottom" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                <div>
                  <span class="heading">22</span>
                  <span class="description">Friends</span>
                </div>
                <div>
                  <span class="heading">10</span>
                  <span class="description">Photos</span>
                </div>
                <div>
                  <span class="heading">89</span>
                  <span class="description">Comments</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h3>
              {{ returnEmpName(employee.name) }}<br><span class="font-weight-light">, {{ returnEmpName(employee.cpf) }}</span>
            </h3>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>Bucharest, Romania
            </div>
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer
            </div>
            <div>
              <i class="ni education_hat mr-2"></i>University of Computer Science
            </div>
            <hr class="my-4" />
            <p>Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all
              of his own music.</p>
            <a href="javascript:void(0)">Show more</a>
          </div>
        </div>
      </div>
    </div>


    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">My account</h3>
            </div>
            <div class="col-4 text-right">
              <a href="#!" class="btn btn-sm btn-primary">Settings</a>
            </div>
          </div>
        </div>
        <nav ngbNav #nav="ngbNav" class="nav-tabs mt-3 ml-3">
          <ng-container ngbNavItem>
            <a ngbNavLink>Dados do Funcionário</a>
            <ng-template ngbNavContent>
              <div [ngClass]="{ 'col-md-8 pr-0': editMode, 'col-md-12': !editMode }">
                <div class="card-body">
                  <div class="card-header bg-transparent d-flex justify-content-between">
                    <h3 class="mb-0">{{ returnEmpName(employee.name) }}</h3>
                  </div>
                  <form [formGroup]="form">
                    <div class="pl-lg-4">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-username">Nome</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1"
                              placeholder="Nome do Funcionário" [ngClass]="cssValidator(f.name)" formControlName="name"
                              [(ngModel)]="employee.name">
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-email">CPF</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1"
                              placeholder="CPF do Funcionário" [ngClass]="cssValidator(f.cpf)" formControlName="cpf"
                              [(ngModel)]="employee.cpf">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-first-name">Data de Nascimento</label>
                            <div class="input-group">
                              <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="birthDate"
                                [(ngModel)]="employee.birthDate" ngbDatepicker #d="ngbDatepicker" />
                              <button class="btn btn-primary fa fa-calendar-alt" (click)="d.toggle()"
                                type="button"></button>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label>Função</label>
                            <select formControlName="function" class="form-control" [(ngModel)]="employee.function">
                              <option value="Admin">Adiministrador</option>
                              <option value="Director">Diretor</option>
                              <option value="Support">Suporte</option>
                              <option value="Driver">Motorista</option>
                              <option value="Manager">Gerente</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <pre>Model: {{ employee | json }}</pre>
                    <hr class="my-4" />
                    <!-- Address -->
                    <h6 class="heading-small text-muted mb-4">Contact information</h6>
                    <div class="pl-lg-4">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="form-control-label" for="input-address">Address</label>
                            <input id="input-address" class="form-control form-control-alternative"
                              placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09"
                              type="text">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-4">
                          <div class="form-group">
                            <label class="form-control-label" for="input-city">City</label>
                            <input type="text" id="input-city" class="form-control form-control-alternative"
                              placeholder="City" value="New York">
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="form-group">
                            <label class="form-control-label" for="input-country">Country</label>
                            <input type="text" id="input-country" class="form-control form-control-alternative"
                              placeholder="Country" value="United States">
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="form-group">
                            <label class="form-control-label" for="input-country">Postal code</label>
                            <input type="number" id="input-postal-code" class="form-control form-control-alternative"
                              placeholder="Postal code">
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr class="my-4" />
                    <!-- Description -->
                    <h6 class="heading-small text-muted mb-4">About me</h6>
                    <div class="pl-lg-4">
                      <div class="form-group">
                        <label>About Me</label>
                        <textarea rows="4" class="form-control form-control-alternative"
                          placeholder="A few words about you ...">A beautiful Dashboard for Bootstrap 4. It is Free and Open Source.</textarea>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </ng-template>
          </ng-container>
          <ng-container ngbNavItem>
            <a ngbNavLink *ngIf="isUser">Dados de Usuário</a>
            <ng-template ngbNavContent>
              <app-register></app-register>
            </ng-template>
          </ng-container>
        </nav>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>


      </div>
    </div>
  </div>
</div>




<div class=" m-3">
  <div class="card shadow">
    <div class="input-group mb-2 col-8">

    </div>
  </div>
</div>