<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header bg-transparent d-flex justify-content-between">
            <h3 class="mb-0">Safra {{ returnPlantingName(planting.harvest) }}</h3>
          </div>
          <div class="table-responsive">
            <form class="m-3" [formGroup]="form">
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label>Fazenda</label>
                      <select formControlName="farmId" class="form-control" [(ngModel)]="planting.farmId"
                        [ngClass]="cssValidator(f.farmId)" (focusout)="loadFields(planting.farmId)">
                        <option *ngFor="let farm of farms" [value]="farm.id">{{ farm.name }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-username">Safra</label>
                      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Safra"
                        [ngClass]="cssValidator(f.harvest)" formControlName="harvest" [(ngModel)]="planting.harvest">
                      <div *ngIf="f.harvest.errors?.required" class="invalid-feedback">
                        Safra é obrigatório.
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-first-name">Data do Plantio</label>
                      <div class="input-group">
                        <input class="form-control" placeholder="dd-mm-yyyy" name="dp" formControlName="plantingDate"
                          [(ngModel)]="planting.plantingDate" ngbDatepicker #d="ngbDatepicker"
                          value="{{planting.plantingDate | date:'dd/MM/yyyy'}}" />
                        <button class="btn btn-primary fa fa-calendar-alt" (click)="d.toggle()" type="button"></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">

                      <label>Tipo de Plantio</label>
                      <select formControlName="typePlanting" class="form-control" [(ngModel)]="planting.typePlanting">
                        <option value="Direct">Direto</option>
                        <option value="Indirect">Indireto</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label>Semente</label>
                      <select formControlName="seedId" class="form-control" [(ngModel)]="planting.seedId"
                        [ngClass]="cssValidator(f.seedId)">
                        <option *ngFor="let seed of seeds" [value]="seed.id">{{ seed.description }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-email">Tempo durante o plantio</label>
                      <input type="text" class="form-control" id="exampleFormControlInput1"
                        placeholder="Tempo durante o plantio" [ngClass]="cssValidator(f.weatherPlanting)"
                        formControlName="weatherPlanting" [(ngModel)]="planting.weatherPlanting">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-email">Umidade do Ar</label>
                      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Umidade do Ar"
                        [ngClass]="cssValidator(f.airMoisture)" formControlName="airMoisture"
                        [(ngModel)]="planting.airMoisture">
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-email">Quantidade de Sementes</label>
                      <input type="text" class="form-control" id="exampleFormControlInput1"
                        placeholder="Quantidade de Sementes Numero" [ngClass]="cssValidator(f.seedAmount)"
                        formControlName="seedAmount" [(ngModel)]="planting.seedAmount">
                    </div>
                  </div>

                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-email">Quantidade de Chuva</label>
                      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Número"
                        [ngClass]="cssValidator(f.rainAmount)" formControlName="rainAmount"
                        [(ngModel)]="planting.rainAmount">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-email">Fertilização</label>
                      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="fertilizing"
                        [ngClass]="cssValidator(f.fertilizing)" formControlName="fertilizing"
                        [(ngModel)]="planting.fertilizing">
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label>Talhões</label>
                      <select multiple formControlName="fieldId" class="form-control" [(ngModel)]="planting.fieldId"
                        [ngClass]="cssValidator(f.fieldId)">
                        <option *ngFor="let field of fields" [value]="field.id">{{ field.name }}</option>
                      </select>
                    </div>
                  </div>
                  <!-- <div class="col-lg-4">
                    <div class="form-group">
                      <label for="" class="form-control-label">Talhões</label>
                      <ng-multiselect-dropdown [placeholder]="'Talhões'" [settings]="dropdownSettings" [data]="fields"
                        [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)"
                        (onDeSelect)="onItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
                        (onDeSelectAll)="onItemDeselectAll($event)" (onFilterChange)="onFilterChange($event)">
                      </ng-multiselect-dropdown> 
                    </div>
                  </div>-->
                </div>
              </div>
              <div class="card-footer">
                <div class="d-flex">
                  <button class="btn btn-success" [disabled]="!form.valid" (click)="savePlanting()">
                    <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
                    Salvar Plantio
                  </button>
                </div>
              </div>
              <!-- <pre>Model: {{ form.value | json }}</pre>
              <pre>Model: {{ form.valid | json }}</pre> -->
              <hr class="my-4" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>